* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 30px;
  overflow: hidden;
}

.container .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.container ul {
  list-style: none;
  margin-left: 20px;
  overflow-y: scroll;
  /* 清除滚动条 */
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-scrollbar {
    display: none;
  }
}

.container ul li {
  height: 30px;
  line-height: 30px;
  user-select: none;
}
